.config/foot/foot.ini
.config/fuzzel/fuzzel.ini
.config/waybar/style.css
.config/hypr/hyprlock.conf
.config/com.limusic.desktop/.window-state.json
install.log

# Agent files
AGENTS.md
.gemini/
.agents/skills/arch-vm-tester/vm_data/
.agents/
.agents/
