layer=overlay
anchor=top
# ymargin=20

font=${FONT_NAME}:size=${FONT_SIZE}
prompt="❯ "
lines=10
width=40
horizontal-pad=20
vertical-pad=15
inner-pad=5
# Optional: use a dark icon theme if you have one installed
# icon-theme=Papirus-Dark 

# Load Wallust's generated colors
include=~/.cache/wallust/fuzzel.ini

[border]
width=1
radius=8
