[main]
font=${FONT_NAME}:size=${FONT_SIZE}
pad=14x14
dpi-aware=no
selection-target=primary

# Load Wallust's generated colors
include=~/.cache/wallust/colors-foot.ini

[cursor]
style=beam
blink=yes

[csd]
border-width=2
